body {
  text-align: center;
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

canvas {
  width: 100%;
  height: auto;
  display: block;
  background: black;
  border: 2px solid white;
}

.canvas-container {
  padding: 100px;
  position: relative;
}

button {
  padding: 10px 20px;
  font-size: 40px;
  color: white;
  background-color: black;
  border: 2px solid white;
}

button:hover {
  background-color: white;
  color: black;
}

.game-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.game-menu-overlay h2 {
  margin: 10px;
  padding: 10px 20px;
  font-size: 100px;
  color: white;
  background-color: black;
}
.game-menu-overlay button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 50px;
  color: white;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
}

.game-menu-overlay button:hover {
  background-color: white;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Fantasy, Copperplate;
  font-weight: normal;
  line-height: 1.1;
  color: #3282e6;
}

h1 { font-size: 45px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; color: white; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

#maintitle {
  margin: 50px 0 100px;
}

#mainbodytext {
  margin: 0;
  padding: 100px 0;
  line-height: 2;
}

p {
  font-size: 20px;
}

a {
  color: #3282e6;
  text-decoration: none;
}

a:hover, a:focus {
  color: #fb00ff;
  text-decoration: underline;
}

#linkbarlinks > a {
  color: #000000;
}

#linkbarlinks > a:hover {
  color: #002fff;
}

#linkbar {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position: relative;
  text-align: left;
  max-height: 48px;
  color: #000000;
}

#linkbarlinks {
  float: right;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position: relative;
  top: -48px;
  text-align: right;
  max-height: 50px;
  max-width: 700px;
  margin-left: 150px;
  color: #000000;
  overflow: hidden;
}

#linkbarcurrentpage {
  color: #ffffff !important;
  background-color: #000000;
}

#headerimg {
  position: relative;
  margin: 0;
  max-width: 150px;
  max-height: 150px;
  overflow: visible;
}

#footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  background-color: black;
}

#imglandscape, #imgportrait, #imgbox {
  max-width: 100%;
  height: auto;
}

#bg {
  width: 500px;
  height: 500px;
  background: url('image') no-repeat center top;
  background-color: blue;
}


@media (max-width: 670px) {
  body {
      font-size: 8px;
      text-align: center;
  }

  p {
      font-size: 14px;
  }

  #mainbodytext {
      padding: 100px 0;
  }

  #footer {
      font-size: 10px;
  }

  #linkbar {
      max-height: 20px;
  }

  #linkbarlinks {
      font-size: 18px;
      top: -20px;
      max-height: 20px;
      max-width: 400px;
  }

  #headerimg {
      max-width: 75px;
      max-height: 75px;
  }

  #imglandscape {
      max-width: 256.2px;
  }

  #imgportrait {
      max-width: 160.2px;
  }

  #imgbox {
      max-width: 256.2px;
  }
}

.box {
  width: 60%;
  margin: 20% auto;
  text-align: center;
  border-top: 20px solid royalblue;
  border-bottom: 5px solid royalblue;
}
